# tabarules

Meant to take tabular data and turn it into a format usable for `mlxtend` association rules mining.

In [1]:
#!pip install mlxtend

### functions to write
* ~~float_processor~~
* ~~boolean_processor~~ (needs to be robust to categorial)
* ~~int_processor (debatable if needed)~~
* ~~category_processor~~
* determine_dtype (takes series and identifies relevant fxn)
* featurize_df

__other associated todos__
* write tests to ensure that the data coming in is actually of the right type, throw error messages

In [118]:
# imports
import os
import numpy as np
import pandas as pd
import mlxtend
from math import ceil

In [119]:
# this is the nan functionality

sample = pd.Series([np.nan, 0, np.nan, 7])
np.where(np.isnan(sample))

(array([0, 2], dtype=int64),)

In [120]:
# load in data
df = pd.read_csv("./data/winequality-red-features.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_alc,acid_level,quality_2
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,low,bad
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0,med,bad
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0,med,bad
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0,med,bad
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,low,bad

In [121]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
high_alc                  int64
acid_level               object
quality_2                object
dtype: object

So the idea here is that we want to make each row of our table a list of values, and have each of these stored with an index. That's the format that `mlxtend` expects for apriori and association rules.

In [122]:
float_series = df['fixed acidity']
categorical_series = df['acid_level']
boolean_series = df['quality_2']
boolean_series2 = df['high_alc']
int_series = df['quality']

In [123]:
def float_processer(series, title, cutoffs = 4, na_action = ['label', 'return_na'][1], print_labels = False):
    '''
    SUMMARY: Gives bin labeling to float data based off of splits in the data
    
    INPUTS:
    - series: A pandas series object of type float
    - title: A title used for the feature of type string
    - cutoffs: the number of bins to place data into. The more bins, the more granular.
    - na_action: desired action for missing values. "label" will return a string with "title_is_na", "return_na" will return NA
    - print_labels: a boolean value to print out the label values before assignment. Useful for debugging.
    
    OUTPUTS:
    - a pandas series object of the bin-labelled data
    
    NOTES:
    - string labels can get long. opt for shorter ones if possible.
    - string labels will come out in the format "title_lessthan_cutoffval" or "title_morethan_cutoffval"
    - Cutoff values are calulated by sorting the data and taking the value at each index 1/cutoffs way through the data.
    
    '''
    
    
    # find splits in data based on ordering
    not_nas = np.where(np.logical_not(np.isnan(series)))
    not_na_series = series[not_nas[0]]
    len_series = not_na_series.shape[0]
    len_tot_series = series.shape[0]
    series_sorted = not_na_series.sort_values().reset_index(drop = True)
    cutoff_val_ind = [ceil( (i+1) / cutoffs * len_series) for i in range(cutoffs-1)]
    cutoff_vals = series_sorted[cutoff_val_ind].values
    
    # label creation
    str_labels = [title + "_lessthan_" + str(val) for val in cutoff_vals]
    str_labels.append(title + "_morethan_" + str(cutoff_vals[cutoffs-2]))
    
    if print_labels:
        print(str_labels)
    
    output_list = []
    # likely can have better parallelization if needed
    # populate a list with the appropriate label for the data
    for i in range(len_tot_series):
        if pd.isna(series[i]):
            if na_action == "label":
                output_list.append(title + "_is_na")
                continue
            elif na_action == "return_na":
                output_list.append(np.nan)
                continue
        for j in range(len(cutoff_vals)):
            if series[i] <= cutoff_vals[j]:
                output_list.append(str_labels[j])
                break
            elif j == len(cutoff_vals)-1:
                output_list.append(str_labels[len(cutoff_vals)])
                break
    
    # can debate whether list or series is better later
    return pd.Series(output_list)

In [124]:
# test for float_processor

print(float_processer(float_series, "fixed_acidity", 4, print_labels = True)[0:20])
print(float_series[0:20])

['fixed_acidity_lessthan_7.1', 'fixed_acidity_lessthan_7.9', 'fixed_acidity_lessthan_9.2', 'fixed_acidity_morethan_9.2']
0     fixed_acidity_lessthan_7.9
1     fixed_acidity_lessthan_7.9
2     fixed_acidity_lessthan_7.9
3     fixed_acidity_morethan_9.2
4     fixed_acidity_lessthan_7.9
5     fixed_acidity_lessthan_7.9
6     fixed_acidity_lessthan_7.9
7     fixed_acidity_lessthan_7.9
8     fixed_acidity_lessthan_7.9
9     fixed_acidity_lessthan_7.9
10    fixed_acidity_lessthan_7.1
11    fixed_acidity_lessthan_7.9
12    fixed_acidity_lessthan_7.1
13    fixed_acidity_lessthan_7.9
14    fixed_acidity_lessthan_9.2
15    fixed_acidity_lessthan_9.2
16    fixed_acidity_lessthan_9.2
17    fixed_acidity_lessthan_9.2
18    fixed_acidity_lessthan_7.9
19    fixed_acidity_lessthan_7.9
dtype: object
0      7.4
1      7.8
2      7.8
3     11.2
4      7.4
5      7.4
6      7.9
7      7.3
8      7.8
9      7.5
10     6.7
11     7.5
12     5.6
13     7.8
14     8.9
15     8.9
16     8.5
17     8.1
18     7.4
19     7.9
Name: fixed acidity, dtype: float64

In [125]:
def boolean_processer(series, title, which_yes = 1, na_action = ['label', 'return_na'][1], print_labels = False):
    '''
    SUMMARY: Gives bin labeling to boolean data
    
    INPUTS:
    - series: A pandas series object of type float
    - title: A title used for the feature of type string
    - which_yes: which number in the data is used as the "yes" marking
    - print_labels: a boolean value to print out the label values before assignment. Useful for debugging.
    
    OUTPUTS:
    - a pandas series object of the bin-labelled data
    
    NOTES:
    - string labels can get long. opt for shorter ones if possible.
    - string labels will come out in the format "title_yes" or "title_no"
    - Cutoff values are calulated by sorting the data and taking the value at each index 1/cutoffs way through the data.
    
    '''
    len_series = series.shape[0]
    
    # label creation
    str_labels = [title + "_no", title + "_yes"]
    
    if print_labels:
        print(str_labels)
    
    output_list = []
    # likely can have better parallelization if needed
    # populate a list with the appropriate label for the data
    
    ### 
    for i in range(len_series):
        # deal with nas first
        if pd.isna(series[i]):
            if na_action == "label":
                output_list.append(title + "_is_na")
                continue
            elif na_action == "return_na":
                output_list.append(np.nan)
                continue
        # logic for dealing with regular values
        if series[i] == which_yes:
            output_list.append(str_labels[1])
        else:
            output_list.append(str_labels[0])
    
    # can debate whether list or series is better later
    return pd.Series(output_list)

In [126]:
# works
boolean_processer(boolean_series2, "high_alc")

0        high_alc_no
1        high_alc_no
2        high_alc_no
3        high_alc_no
4        high_alc_no
5        high_alc_no
6        high_alc_no
7        high_alc_no
8        high_alc_no
9       high_alc_yes
10       high_alc_no
11      high_alc_yes
12       high_alc_no
13       high_alc_no
14       high_alc_no
15       high_alc_no
16      high_alc_yes
17       high_alc_no
18       high_alc_no
19       high_alc_no
20       high_alc_no
21       high_alc_no
22       high_alc_no
23       high_alc_no
24       high_alc_no
25       high_alc_no
26       high_alc_no
27       high_alc_no
28       high_alc_no
29       high_alc_no
            ...
1569    high_alc_yes
1570    high_alc_yes
1571    high_alc_yes
1572     high_alc_no
1573    high_alc_yes
1574    high_alc_yes
1575    high_alc_yes
1576    high_alc_yes
1577    high_alc_yes
1578    high_alc_yes
1579    high_alc_yes
1580    high_alc_yes
1581    high_alc_yes
1582    high_alc_yes
1583     high_alc_no
1584    high_alc_yes
1585    high_alc_yes
1586    high_alc_yes
1587    high_alc_yes
1588    high_alc_yes
1589     high_alc_no
1590    high_alc_yes
1591    high_alc_yes
1592    high_alc_yes
1593     high_alc_no
1594    high_alc_yes
1595    high_alc_yes
1596    high_alc_yes
1597    high_alc_yes
1598    high_alc_yes
Length: 1599, dtype: object

In [127]:
boolean_processer(boolean_series, "quality", which_yes = "good")

0        quality_no
1        quality_no
2        quality_no
3        quality_no
4        quality_no
5        quality_no
6        quality_no
7       quality_yes
8       quality_yes
9        quality_no
10       quality_no
11       quality_no
12       quality_no
13       quality_no
14       quality_no
15       quality_no
16      quality_yes
17       quality_no
18       quality_no
19       quality_no
20       quality_no
21       quality_no
22       quality_no
23       quality_no
24       quality_no
25       quality_no
26       quality_no
27       quality_no
28       quality_no
29       quality_no
           ...
1569     quality_no
1570     quality_no
1571     quality_no
1572     quality_no
1573     quality_no
1574     quality_no
1575     quality_no
1576     quality_no
1577     quality_no
1578     quality_no
1579     quality_no
1580     quality_no
1581     quality_no
1582     quality_no
1583     quality_no
1584    quality_yes
1585     quality_no
1586     quality_no
1587     quality_no
1588     quality_no
1589     quality_no
1590     quality_no
1591     quality_no
1592     quality_no
1593     quality_no
1594     quality_no
1595     quality_no
1596     quality_no
1597     quality_no
1598     quality_no
Length: 1599, dtype: object

In [128]:
float_processer(int_series, "quality", cutoffs = 7, print_labels = True).unique()

['quality_lessthan_5', 'quality_lessthan_5', 'quality_lessthan_5', 'quality_lessthan_6', 'quality_lessthan_6', 'quality_lessthan_6', 'quality_morethan_6']

array(['quality_lessthan_5', 'quality_lessthan_6', 'quality_morethan_6'],
      dtype=object)

In [129]:
int_series.unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [130]:
def cat_processer(series, title, na_action = ['label', 'return_na'][1], print_labels = False):
    '''
    SUMMARY: Gives bin labeling to categorical data based off of splits in the data
    
    INPUTS:
    - series: A pandas series object of type float
    - title: A title used for the feature of type string
    - print_labels: a boolean value to print out the label values before assignment. Useful for debugging.
    
    OUTPUTS:
    - a pandas series object of the bin-labelled data
    
    NOTES:
    - string labels can get long. opt for shorter ones if possible.
    - string labels will come out in the format "title_is_label"
    
    '''
    
    
    # find splits in data based on ordering
    len_series = series.shape[0]
    not_nas = np.where(np.logical_not(pd.isna(series)))
    not_na_series = series[not_nas[0]]
    unique_vals = not_na_series.unique()
    
    # label creation
    str_labels = [title + "_is_" + val for val in unique_vals]
    
    if print_labels:
        print(str_labels)
    
    output_list = []
    # likely can have better parallelization if needed
    # populate a list with the appropriate label for the data
    for i in range(len_series):
        # deal with nas first
        if pd.isna(series[i]):
            if na_action == "label":
                output_list.append(title + "_is_na")
                continue
            elif na_action == "return_na":
                output_list.append(np.nan)
                continue
        for j in range(unique_vals.shape[0]):
            if series[i] == unique_vals[j]:
                output_list.append(str_labels[j])
                next
    
    # can debate whether list or series is better later
    return pd.Series(output_list)

In [131]:
cat_processer(categorical_series, "acid_level", True)

0       acid_level_is_low
1       acid_level_is_med
2       acid_level_is_med
3       acid_level_is_med
4       acid_level_is_low
5       acid_level_is_low
6       acid_level_is_med
7       acid_level_is_med
8       acid_level_is_med
9       acid_level_is_med
10      acid_level_is_med
11      acid_level_is_med
12      acid_level_is_low
13      acid_level_is_med
14      acid_level_is_med
15      acid_level_is_med
16      acid_level_is_med
17      acid_level_is_med
18      acid_level_is_med
19      acid_level_is_med
20      acid_level_is_med
21      acid_level_is_low
22      acid_level_is_med
23      acid_level_is_med
24      acid_level_is_med
25      acid_level_is_med
26      acid_level_is_med
27      acid_level_is_med
28      acid_level_is_med
29      acid_level_is_med
              ...
1569    acid_level_is_med
1570    acid_level_is_med
1571    acid_level_is_med
1572    acid_level_is_med
1573    acid_level_is_low
1574    acid_level_is_med
1575    acid_level_is_med
1576    acid_level_is_med
1577    acid_level_is_low
1578    acid_level_is_med
1579    acid_level_is_low
1580    acid_level_is_med
1581    acid_level_is_low
1582    acid_level_is_low
1583    acid_level_is_med
1584    acid_level_is_med
1585    acid_level_is_med
1586    acid_level_is_med
1587    acid_level_is_low
1588    acid_level_is_med
1589    acid_level_is_med
1590    acid_level_is_med
1591    acid_level_is_low
1592    acid_level_is_med
1593    acid_level_is_med
1594    acid_level_is_med
1595    acid_level_is_low
1596    acid_level_is_med
1597    acid_level_is_low
1598    acid_level_is_med
Length: 1599, dtype: object

In [132]:
cat_processer(boolean_series, "quality_2")

0        quality_2_is_bad
1        quality_2_is_bad
2        quality_2_is_bad
3        quality_2_is_bad
4        quality_2_is_bad
5        quality_2_is_bad
6        quality_2_is_bad
7       quality_2_is_good
8       quality_2_is_good
9        quality_2_is_bad
10       quality_2_is_bad
11       quality_2_is_bad
12       quality_2_is_bad
13       quality_2_is_bad
14       quality_2_is_bad
15       quality_2_is_bad
16      quality_2_is_good
17       quality_2_is_bad
18       quality_2_is_bad
19       quality_2_is_bad
20       quality_2_is_bad
21       quality_2_is_bad
22       quality_2_is_bad
23       quality_2_is_bad
24       quality_2_is_bad
25       quality_2_is_bad
26       quality_2_is_bad
27       quality_2_is_bad
28       quality_2_is_bad
29       quality_2_is_bad
              ...
1569     quality_2_is_bad
1570     quality_2_is_bad
1571     quality_2_is_bad
1572     quality_2_is_bad
1573     quality_2_is_bad
1574     quality_2_is_bad
1575     quality_2_is_bad
1576     quality_2_is_bad
1577     quality_2_is_bad
1578     quality_2_is_bad
1579     quality_2_is_bad
1580     quality_2_is_bad
1581     quality_2_is_bad
1582     quality_2_is_bad
1583     quality_2_is_bad
1584    quality_2_is_good
1585     quality_2_is_bad
1586     quality_2_is_bad
1587     quality_2_is_bad
1588     quality_2_is_bad
1589     quality_2_is_bad
1590     quality_2_is_bad
1591     quality_2_is_bad
1592     quality_2_is_bad
1593     quality_2_is_bad
1594     quality_2_is_bad
1595     quality_2_is_bad
1596     quality_2_is_bad
1597     quality_2_is_bad
1598     quality_2_is_bad
Length: 1599, dtype: object

In [133]:
nan_series_float = pd.Series([1, 4.2, np.nan, 5, 12, 1, 1.2, 7, np.nan])

In [134]:
float_processer(nan_series, "tester", cutoffs = 4, print_labels = True, na_action = 'label')

['tester_lessthan_1.2', 'tester_lessthan_5.0', 'tester_lessthan_12.0', 'tester_morethan_12.0']

0     tester_lessthan_1.2
1     tester_lessthan_5.0
2            tester_is_na
3     tester_lessthan_5.0
4    tester_lessthan_12.0
5     tester_lessthan_1.2
6     tester_lessthan_1.2
7    tester_lessthan_12.0
8            tester_is_na
dtype: object

In [135]:
nan_series_bool = pd.Series([0,1,np.nan, 1, 0, 1, 1, np.nan, 0, np.nan])
boolean_processer(nan_series_bool, title = "tester", na_action = 'label')

0       tester_no
1      tester_yes
2    tester_is_na
3      tester_yes
4       tester_no
5      tester_yes
6      tester_yes
7    tester_is_na
8       tester_no
9    tester_is_na
dtype: object

In [136]:
nan_series_strings = pd.Series(['aaa', np.nan, 'bbb', np.nan, 'aaa', 'ccc'])
cat_processer(nan_series_strings, title = 'tester', na_action = 'label')

0    tester_is_aaa
1     tester_is_na
2    tester_is_bbb
3     tester_is_na
4    tester_is_aaa
5    tester_is_ccc
dtype: object

In [137]:
float_processer(int_series, title = "tester", print_labels = True)

['tester_lessthan_5', 'tester_lessthan_6', 'tester_lessthan_6', 'tester_morethan_6']

0       tester_lessthan_5
1       tester_lessthan_5
2       tester_lessthan_5
3       tester_lessthan_6
4       tester_lessthan_5
5       tester_lessthan_5
6       tester_lessthan_5
7       tester_morethan_6
8       tester_morethan_6
9       tester_lessthan_5
10      tester_lessthan_5
11      tester_lessthan_5
12      tester_lessthan_5
13      tester_lessthan_5
14      tester_lessthan_5
15      tester_lessthan_5
16      tester_morethan_6
17      tester_lessthan_5
18      tester_lessthan_5
19      tester_lessthan_6
20      tester_lessthan_6
21      tester_lessthan_5
22      tester_lessthan_5
23      tester_lessthan_5
24      tester_lessthan_6
25      tester_lessthan_5
26      tester_lessthan_5
27      tester_lessthan_5
28      tester_lessthan_5
29      tester_lessthan_6
              ...
1569    tester_lessthan_6
1570    tester_lessthan_6
1571    tester_lessthan_6
1572    tester_lessthan_5
1573    tester_lessthan_6
1574    tester_lessthan_6
1575    tester_lessthan_6
1576    tester_lessthan_6
1577    tester_lessthan_6
1578    tester_lessthan_6
1579    tester_lessthan_5
1580    tester_lessthan_6
1581    tester_lessthan_5
1582    tester_lessthan_5
1583    tester_lessthan_5
1584    tester_morethan_6
1585    tester_lessthan_6
1586    tester_lessthan_6
1587    tester_lessthan_6
1588    tester_lessthan_6
1589    tester_lessthan_5
1590    tester_lessthan_6
1591    tester_lessthan_6
1592    tester_lessthan_6
1593    tester_lessthan_6
1594    tester_lessthan_5
1595    tester_lessthan_6
1596    tester_lessthan_6
1597    tester_lessthan_5
1598    tester_lessthan_6
Length: 1599, dtype: object